---
name: CI
'on':
  pull_request_target:
    types: [opened, synchronize, reopened]
  push:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  demo:
    name: Demo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: 18 # renovate: datasource=github-releases depName=nodejs/node

      - name: Install dependencies
        run: npm ci --ignore-scripts --no-audit --no-fund

      - name: Run demo
        run: node .
