---
name: CI
'on':
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main, 'renovate/**']
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 18.16.1 # renovate: datasource=node depName=node

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          cache: npm
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Lint
        run: npx eslint .

      - name: Check formatting
        run: npx prettier --check .

  demo:
    name: Demo
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          cache: npm
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Run demo
        run: node .
